@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Regular.eot');
  src: url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Regular.woff') format('woff'), url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'), url('../fonts/roboto/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaLTStd-Bold';
  src: url('../fonts/HelveticaLTStd-Bold/HelveticaLTStd-Bold.eot');
  src: url('../fonts/HelveticaLTStd-Bold/HelveticaLTStd-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaLTStd-Bold/HelveticaLTStd-Bold.woff') format('woff'), url('../fonts/HelveticaLTStd-Bold/HelveticaLTStd-Bold.ttf') format('truetype'), url('../fonts/HelveticaLTStd-Bold/HelveticaLTStd-Bold.svg#HelveticaLTStd-Bold') format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'HelveticaInseratLTStd-Roman';
  src: url('../fonts/HelveticaInseratLTStd-Roman/HelveticaInseratLTStd-Roman.eot');
  src: url('../fonts/HelveticaInseratLTStd-Roman/HelveticaInseratLTStd-Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaInseratLTStd-Roman/HelveticaInseratLTStd-Roman.woff') format('woff'), url('../fonts/HelveticaInseratLTStd-Roman/HelveticaInseratLTStd-Roman.ttf') format('truetype'), url('../fonts/HelveticaInseratLTStd-Roman/HelveticaInseratLTStd-Roman.svg#HelveticaInseratLTStd-Roman') format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Georgia';
  src: url('../fonts/Georgia/Georgia.eot');
  src: url('../fonts/Georgia/Georgia.eot?#iefix') format('embedded-opentype'), url('../fonts/Georgia/Georgia.woff') format('woff'), url('../fonts/Georgia/Georgia.ttf') format('truetype'), url('../fonts/Georgia/Georgia.svg#Georgia') format('svg');
  font-style: normal;
  font-weight: normal;
}
/*@bodyFontFamily:       'Abel-Regular', "Times New Roman", Times, serif;*/
body {
  margin: 0;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  line-height: 20px;
  background-color: #f6f6f4;
}
p {
  margin: 0 0 10px;
}
p small {
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
}
h1 {
  font-size: 30px;
  line-height: 40px;
}
h1 small {
  font-size: 18px;
}
h2 {
  font-size: 24px;
  line-height: 40px;
}
h2 small {
  font-size: 18px;
}
h3 {
  font-size: 18px;
  line-height: 30px;
}
h3 small {
  font-size: 14px;
}
h4,
h5,
h6 {
  line-height: 20px;
}
h4 {
  font-size: 14px;
}
h4 small {
  font-size: 12px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 11px;
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
small {
  font-size: 100%;
}
cite {
  font-style: normal;
}
img {
  border: none;
}
/*@import 'mediaelementplayer.less';*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*@import 'popup.less';*/
.btn {
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 15px;
  margin-top: 10px;
  padding: 20px 90px;
  cursor: pointer;
}
.btn-login {
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 15px;
  margin-top: 10px;
  padding: 5px 20px;
  cursor: pointer;
}
.submit-btn {
  border-radius: 4px;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0 10px 1px;
  cursor: pointer;
}
.go {
  background-color: #f44845;
  border-radius: 20px;
  display: inline-block;
  height: 28px;
  margin-top: 0;
  text-align: center;
  vertical-align: middle;
  width: 38px;
}
/*! Remodal - v0.1.6 - 2014-05-16
 * https://github.com/VodkaBears/remodal
 * Copyright (c) 2014 VodkaBears; */
/* ==========================================================================
   Remodal necessary styles
   ========================================================================== */
/* Hide scroll bar */
html.remodal_lock,
body.remodal_lock {
  overflow: hidden;
}
/* Anti FOUC */
.remodal,
[data-remodal-id] {
  visibility: hidden;
}
/* Overlay necessary styles */
.remodal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  display: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  text-align: center;
}
.remodal-overlay:after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  content: '';
}
/* Fix iPad, iPhone glitches */
.remodal-overlay > * {
  -webkit-transform: translateZ(0px);
}
/* Modal dialog necessary styles */
.remodal {
  position: relative;
  display: inline-block;
}
/* ==========================================================================
   Remodal default theme
   ========================================================================== */
/* Default theme font */
/* Background for effects */
.remodal-bg {
  -webkit-transition: -webkit-filter 0.2s linear;
  -moz-transition: -moz-filter 0.2s linear;
  -o-transition: -o-filter 0.2s linear;
  transition: filter 0.2s linear;
}
body.remodal_active .remodal-bg {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
/* Overlay default theme styles */
.remodal-overlay {
  opacity: 0;
  background: rgba(182, 182, 181, 0.7);
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
body.remodal_active .remodal-overlay {
  opacity: 1;
}
/* Modal dialog default theme styles */
.remodal {
  width: 100%;
  min-height: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  background-image: url("../img/popup_transparent.png");
  background-clip: padding-box;
  color: #182a3c;
  -webkit-box-shadow: 0px 0px 8px #171a24;
  box-shadow: 0px 0px 8px #171a24;
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transition: -webkit-transform 0.2s linear;
  -moz-transition: -moz-transform 0.2s linear;
  -o-transition: -o-transform 0.2s linear;
  transition: transform 0.2s linear;
}
body.remodal_active .remodal {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* Modal dialog vertical align  */
.remodal,
.remodal-overlay:after {
  vertical-align: middle;
}
/* Close button */
.remodal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 28px;
  height: 28px;
  text-decoration: none;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
.remodal-close:after {
  display: block;
  font-size: 28px;
  font-family: Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif !important;
  content: "×";
  line-height: 28px;
  cursor: pointer;
  text-decoration: none;
  color: #3e5368;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* Dialog buttons */
.remodal-confirm,
.remodal-cancel {
  display: inline-block;
  width: 198px;
  padding: 9px 0;
  margin: 0 0 5px 0;
  font-size: 10pt;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.remodal-confirm {
  border: 2px solid #16a085;
  background: #f4f4f4;
  color: #16a085;
}
.remodal-confirm:hover,
.remodal-confirm:active {
  background: #16a085;
  color: #f4f4f4;
}
.remodal-cancel {
  background: #f54b47;
  color: #fff;
  font-size: 21px;
  line-height: 24px;
}
.remodal-cancel:hover,
.remodal-cancel:active {
  background: #f21c17;
}
.popup-grids {
  width: 59%;
  margin-right: 5%;
  float: left;
  text-align: left;
}
.popup-grids p {
  margin: 14% 0px;
  font-size: 18px;
  line-height: 22px;
  color: #373737;
}
h2 {
  font-size: 24px;
  line-height: 30px;
}
.popup-right-grids {
  width: 30%;
  float: right;
}
.main-container {
  background-color: #ffffff;
  padding: 4% 4% 10%;
  overflow: auto;
  -webkit-box-shadow: 0px 0px 8px #575A64;
  box-shadow: 0px 0px 8px #575A64;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* Media queries
   ========================================================================== */
@media (min-width: 641px) {
  .remodal {
    max-width: 700px;
    margin: 0px auto;
    min-height: 0;
    -webkit-border-radius: 6px;
    border-radius: 6px;
  }
}
.wrapper {
  margin: 0px auto;
  position: relative;
  width: 1024px;
}
.hide {
  display: none;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix {
  overflow: hidden;
  display: block;
}
ul {
  padding: 0px;
  margin: 0px;
}
ul li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.verticle-middle {
  display: inline-block;
  vertical-align: middle;
}
.verticle-top {
  display: inline-block;
  vertical-align: top;
}
.header-first-section {
  background-color: #2d2d2d;
  overflow: hidden;
  padding: 10px 0px;
}
.header-first-section input {
  background-color: #4a4a4a;
  border: 1px solid #4a4a4a;
  border-radius: 20px;
  height: 24px;
  padding-left: 10px;
  width: 130px;
  margin-right: 10px;
  color: #8e8e8e;
}
.header-first-section input::-webkit-input-placeholder {
  /* WebKit browsers */

  color: #8e8e8e;
}
.header-first-section input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */

  color: #8e8e8e;
  opacity: 1;
}
.header-first-section input::-moz-placeholder {
  /* Mozilla Firefox 19+ */

  color: #8e8e8e;
  opacity: 1;
}
.header-first-section input:-ms-input-placeholder {
  /* Internet Explorer 10+ */

  color: #8e8e8e;
}
.header-first-section ul li {
  display: inline-block;
  padding: 7px 30px 7px 0px;
}
.header-first-section ul li a {
  color: #ffffff;
  display: inline-block;
  font-family: 'HelveticaLTStd-Bold';
  font-size: 12px;
  line-height: 24px;
  vertical-align: middle;
  font-family: "Roboto";
}
.header-first-section label.header-section-font {
  margin-right: 20px;
}
.header-first-section .go {
  line-height: 30px;
  padding: 0px;
}
.header-first-section .sign-in-sec {
  margin: 7px 10px 7px;
  padding-right: 15px;
  display: inline-block;
  border-right: 1px solid #ffffff;
}
.header-first-section .signup {
  color: #f44845;
  text-decoration: underline;
}
.header-section-font {
  color: #ffffff;
  display: inline-block;
  font-family: 'HelveticaLTStd-Bold';
  font-size: 12px;
  line-height: 24px;
  vertical-align: middle;
}
.phone {
  background-image: url('../img/phone.png');
  background-repeat: no-repeat;
  height: 10px;
  padding: 0 6px 0px 10px;
  width: 15px;
}
.brandsection {
  min-height: 58px;
  padding: 26px 0 15px;
}
.globe {
  float: right;
  background-image: url('../img/globe.png');
  background-repeat: no-repeat;
  padding: 0 0 20px 20px;
  min-height: 20px;
  margin-top: 14px;
  cursor: pointer;
}
.languagechange {
  font-size: 18px;
  line-height: 20px;
  padding: 0px 20px;
  background-image: url('../img/down-arrow.png');
  background-repeat: no-repeat;
  background-position: right 10px;
}
.languagechange a {
  color: #443c3c;
}
.navigator .nav-backgruond {
  background-color: #d5d9e1;
  min-height: 48px;
}
.navigator .main-nav-bar {
  display: block;
  float: left;
}
.navigator .main-nav-bar li {
  float: left;
  border-right: 1px solid #b7becc;
}
.navigator .main-nav-bar li a {
  font-size: 14px;
  line-height: 48px;
  padding: 14px 10px;
  vertical-align: middle;
  color: #2d2d2d;
}
.navigator .main-nav-bar li a:hover {
  background-color: #ffffff;
}
.navigator .main-nav-bar li:hover a {
  background-color: #ffffff;
}
.navigator .main-nav-bar li:hover .sub-menu {
  display: block;
}
.navigator .main-nav-bar li .sub-menu {
  position: absolute;
  display: none;
  z-index: 9999999;
  background-color: #ffffff;
  width: 100%;
  left: 0px;
  top: 47px;
}
.navigator .main-nav-bar li .sub-menu ul {
  float: left;
  margin: 0px 20px;
}
.navigator .main-nav-bar li .sub-menu li {
  float: none;
  border: none;
}
.navigator .main-nav-bar li .sub-menu li a {
  line-height: 34px;
  padding: 5px 10px;
}
.navigator input {
  float: right;
  background-color: #4a4a4a;
  border: 1px solid #4a4a4a;
  border-radius: 20px;
  height: 24px;
  padding-left: 10px;
  width: 130px;
  margin-right: 10px;
  color: #8e8e8e;
  margin: 10px 16px 10px;
  background-color: #ffffff;
  border-color: #ffffff;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: center right 5px;
}
.slider-background {
  padding-bottom: 15px;
}
.slider-background .btn-group {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin-right: 20px;
}
.slider-background .btn-group .side-btn-roup {
  display: block;
  background-color: #5181cb;
  background-image: -moz-linear-gradient(top, #6a97db, #2b61b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6a97db), to(#2b61b3));
  background-image: -webkit-linear-gradient(top, #6a97db, #2b61b3);
  background-image: -o-linear-gradient(top, #6a97db, #2b61b3);
  background-image: linear-gradient(to bottom, #6a97db, #2b61b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6a97db', endColorstr='#ff2b61b3', GradientType=0);
  line-height: 30px;
  padding: 16px 0;
  text-align: center;
  font-size: 24px;
}
.slider-background .btn-group .side-btn-roup:hover {
  background-color: #4477c3;
  background-image: -moz-linear-gradient(top, #2b61b3, #6a97db);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2b61b3), to(#6a97db));
  background-image: -webkit-linear-gradient(top, #2b61b3, #6a97db);
  background-image: -o-linear-gradient(top, #2b61b3, #6a97db);
  background-image: linear-gradient(to bottom, #2b61b3, #6a97db);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2b61b3', endColorstr='#ff6a97db', GradientType=0);
}
.slider-background .slider {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}
.grid-background .grid {
  display: inline-block;
  vertical-align: top;
  width: 214px;
  margin-right: 23px;
}
.grid-background .grid h3 {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 20px;
}
.grid-background .main-grid {
  background-color: #E9E9E9;
  font-size: 14px;
  line-height: 30px;
  padding: 38px 0 38px 14px;
  width: 286px;
}
.grid-background .main-grid h3 {
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 30px;
}
.grid-background .grid-image-holder {
  background-color: #ffffff;
  min-height: 271px;
}
.grid-background .grid-image-holder .big-img {
  width: 100%;
}
.grid-background .grid-images {
  display: inline-block;
  margin: 9% 0%;
  text-align: center;
  width: 49%;
}
.grid-background .grid:last-child {
  margin-right: 0px;
}
.grid-background .description {
  padding: 35px 10px;
  font-size: 16px;
  line-height: 23px;
}
.grid-background .links {
  display: block;
  padding: 7px;
  font-size: 14px;
  line-height: 16px;
  color: #3b3b3b;
}
.grid-background .first-link {
  margin-top: 15px;
}
.grid-background .award {
  padding: 5px 0px;
}
.footer {
  background-color: #222222;
  color: #ffffff;
}
.footer .copyright {
  color: #adadad;
  font-size: 12px;
  line-height: 21px;
}
.mini-slider-container:first-child {
  margin-right: 1%;
}
.mini-slider-container:nth-child(2) {
  margin-left: 1%;
}
.mini-slider-container {
  width: 49%;
  background-color: #ffffff;
  margin-top: 10px;
  margin-bottom: 20px;
}
.mini-slider-container .bx-pager {
  display: none;
}
.mini-slider-container .bx-viewport {
  height: 100%;
  min-height: 200px;
}
.slider-header {
  padding: 30px 10px 0px 20px;
  border-bottom: 1px solid #B7BECC;
}
.slider-header small {
  font-family: 'HelveticaLTStd-Bold';
  font-size: 12px;
  line-height: 18px;
  color: #858585;
}
.slide-content {
  font-family: 'HelveticaLTStd-Bold';
}
.slide-content .amount {
  color: #bc3726;
}
.slide-content .seperator {
  margin: 0px 5px;
}
.slide-content a {
  color: #373737;
}
.slide-content a:hover {
  text-decoration: underline;
}
.sliderinner-container {
  padding: 35px 10px 0px;
}
.slide {
  text-align: center;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background-image: url("../img/prev.png");
  background-repeat: no-repeat;
}
.bx-wrapper .bx-next {
  right: 10px;
  background-image: url("../img/next.png");
  background-repeat: no-repeat;
}
.p-sub-content .bx-wrapper .bx-prev {
  left: 0px;
  background-image: url("../img/p-slider-prev.png");
  background-repeat: no-repeat;
}
.p-sub-content .bx-wrapper .bx-next {
  right: -33px;
  background-image: url("../img/p-slider-nex.png");
  background-repeat: no-repeat;
}
.p-sub-content .bx-wrapper .bx-controls-direction a {
  height: 48px;
  top: 35%;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 200;
}
.offer-image img {
  margin-top: 6%;
  margin-left: 35%;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
.bx-wrapper {
  position: relative;
}
.main-slider {
  position: relative;
  display: inline-block;
  width: 700px;
  height: 278px;
  background-color: #6294de;
  margin-top: 10px;
}
.main-slider .bx-pager-item {
  display: none;
}
.main-slider .bx-viewport {
  height: 100%;
  min-height: 290px;
}
.main-slider .slide {
  background-color: #6294de;
}
.regards-prod {
  background-color: #f44845;
  width: 70%;
  line-height: 28px;
  font-size: 14px;
  text-align: left;
  padding-left: 2%;
  color: #fff;
  font-family: 'HelveticaLTStd-Bold';
}
.season-offer-name {
  font-family: 'Georgia';
  width: 26%;
  position: absolute;
  left: 10%;
  top: 24%;
}
.season-offer-name span:nth-child(2) {
  font-size: 48px;
  line-height: 26px;
  color: #ffffff;
}
.season-offer-name span:nth-child(3) {
  font-family: 'HelveticaLTStd-Bold';
  font-size: 14px;
  text-align: left;
}
.season-offer-name span {
  width: 100%;
  display: inline-block;
  text-align: right;
  font-size: 20px;
  line-height: 20px;
}
.offer-per {
  background-color: #2d2d2d;
  width: 85px;
  height: 85px;
  border-radius: 50px;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Georgia';
  font-size: 48px;
  color: #ffffff;
  position: absolute;
  top: 45%;
  left: 32%;
  line-height: 8px;
}
.offer-per .postion {
  position: relative;
}
.offer-per .postion span:nth-child(2) {
  bottom: 0;
  color: #BC3726;
  font-size: small;
  left: 28px;
  position: absolute;
  top: 53px;
}
.offer-per .postion span:nth-child(3) {
  bottom: 0;
  color: #FFFFFF;
  font-size: 13px;
  left: 52px;
  position: absolute;
}
.offer-per .postion span:nth-child(1) {
  display: inline-block;
  line-height: 63px;
}
.nav-btn {
  position: relative;
  margin-top: 6px;
  border-radius: 2px;
  height: 36px;
  width: 36px;
  cursor: pointer;
  display: none;
}
#lines {
  border-bottom: 17px double #373e4d;
  border-top: 6px solid #373e4d;
  content: "";
  height: 5px;
  left: 5px;
  top: 4px;
  width: 30px;
  display: none;
}
.header {
  height: 50px;
}
.header .header-inner {
  overflow: hidden;
  position: relative;
  height: 45px;
  text-align: center;
}
.header .header-inner .header-search {
  margin-top: 15px;
  margin-left: 1%;
  margin-right: 6%;
  display: inline-block;
  vertical-align: middle;
}
.header .header-inner .header-search input {
  border: medium none;
  border-radius: 4px;
  font-size: 16px;
  padding: 4px 0 4px 10px;
  width: 200px;
  font-family: "InterstateCondensed";
}
.header .header-inner .header-login {
  margin-right: .5%;
  margin-top: 12px;
  display: inline-block;
  vertical-align: middle;
}
.header .header-inner .header-login p {
  color: white;
  font-size: 8px;
  text-align: right;
}
.header .header-inner .header-login .login-info {
  padding: 4px;
  cursor: pointer;
}
.header .header-inner .header-login .login-info .code {
  border: medium none;
  border-radius: 4px;
  font-size: 16px;
  width: 110px;
  background-color: #990000;
  color: #ffffff;
}
.header .header-inner .header-login .login-info .code:hover {
  background-color: #660000;
}
.header .header-inner .header-login .login-info .user-info {
  overflow: hidden;
}
.header .header-inner .header-login .login-info .user-info a {
  float: left;
  color: black;
  font-size: 16px;
  margin: 0 5px 5px;
  text-transform: capitalize;
  display: block;
  min-width: 50px;
}
.header .header-inner .header-login .login-info .user-info img {
  float: right;
  margin-left: 5px;
  padding-top: 7px;
}
.header .header-inner .header-login .login-info .logout {
  display: none;
  background-color: #ffffff;
  border: 1px solid #000000;
  margin-left: -5px;
  position: absolute;
  text-align: center;
  top: 34px;
  width: 145px;
  z-index: 999;
}
.header .header-inner .header-login .login-info .logout:hover {
  background-color: #660000;
}
.header .header-inner .header-login .login-info .logout:hover a {
  color: #ffffff;
}
.header .header-inner .header-login .login-info .logout a {
  color: #000000;
  display: block;
  font-size: 16px;
  margin: 0;
  padding: 3px;
  text-align: left;
  width: 139px;
}
.header .header-inner .mypage {
  position: absolute;
  bottom: 0px;
  right: 10px;
}
.header .header-inner .mypage a {
  display: block;
}
/*not getting updated*/
/* =============================================================================
   Media Queries
   ========================================================================== */
@media (max-width: 1170px) {
  .wrapper {
    width: 96%;
  }
  .slider-background .btn-group {
    width: 28%;
    margin-right: 2.6%;
  }
  .slider-background .main-slider {
    width: 69%;
  }
  .grid-background .grid.main-grid {
    width: 27%;
    margin-right: 2.6%;
  }
  .grid-background .grid {
    width: 20%;
    margin-right: 2.5%;
  }
}
@media (max-width: 1024px) {
  
}
@media (max-width: 980px) {
  .navigator .main-nav-bar li a {
    font-size: 12px;
    padding: 13px 9px;
  }
}
@media (max-width: 900px) {
  .header-first-section .pull-right,
  .header-first-section .pull-left {
    float: none;
    clear: both;
    width: 100%;
    text-align: center;
  }
  .navigator .main-nav-bar li a {
    padding: 10px 7px;
  }
  .nav-backgruond input {
    margin: 10px 1px;
    width: 85px;
  }
}
@media (max-width: 800px) {
  
}
@media (max-width: 768px) {
  .nav-btn,
  #lines {
    display: inline-block;
  }
  .slider-background .btn-group,
  .slider-background .main-slider {
    display: block;
    width: 100%;
  }
  .slider-background .btn-group .side-btn-roup,
  .slider-background .main-slider .side-btn-roup {
    width: 47%;
    display: inline-block;
    margin: 1.3%;
  }
  .mini-slider-container {
    float: none;
    width: 100%;
  }
  .mini-slider-container:first-child,
  .mini-slider-container:nth-child(2) {
    margin: 10px 0px 10px;
  }
  .grid-background .main-grid {
    background-color: #E9E9E9;
    font-size: 14px;
    line-height: 30px;
    padding: 1% 0 38px 14px;
  }
  .grid-background .grid.main-grid,
  .grid-background .grid {
    width: 45%;
  }
  .navigator .main-nav-bar {
    display: none;
    float: none;
    height: 242px;
    overflow: auto;
  }
  .navigator .main-nav-bar li {
    float: none;
    padding: 5px 10px;
  }
  .navigator .main-nav-bar li a {
    line-height: 20px;
  }
  .navigator .main-nav-bar li a:hover {
    background-color: #D5D9E1;
  }
  .navigator .main-nav-bar li:hover {
    background-color: #D5D9E1;
  }
  .navigator .main-nav-bar li:hover a {
    background-color: #D5D9E1;
  }
  .navigator .main-nav-bar li .sub-menu {
    background-color: #D5D9E1;
    position: inherit;
    display: block;
  }
  .navigator .main-nav-bar li .sub-menu ul {
    float: none;
  }
  .navigator .main-nav-bar li .sub-menu ul li a {
    line-height: 14px;
  }
  .nav-backgruond input {
    position: absolute;
    top: 2px;
    right: 2px;
  }
}
@media (max-width: 640px) {
  
}
@media (max-width: 480px) {
  .grid-background .grid.main-grid,
  .grid-background .grid {
    width: 95%;
    margin: 0px;
  }
  .header-first-section .sign-in-sec {
    border-right: none;
  }
  .header-first-section .sign-in-sec label,
  .header-first-section .sign-in-sec input,
  .header-first-section .sign-in-sec a {
    display: block;
    margin: 10px auto;
  }
  .header-first-section a {
    display: block;
  }
  .popup-right-grids,
  .popup-grids {
    float: none;
    width: 100%;
    margin: 0px;
    text-align: center;
  }
}
@media (max-width: 360px) {
  .slider-background .btn-group .side-btn-roup,
  .slider-background .main-slider .side-btn-roup {
    width: 46%;
  }
  .slider-background .btn-group .side-btn-roup {
    font-size: 18px;
    padding: 8px 0;
  }
  .regards-prod {
    width: 100%;
  }
}
@media (max-width: 320px) {
  
}
