/* =============================================================================
   Media Queries
   ========================================================================== */

@media (max-width:1170px){
  .wrapper {
    width: 100%;
  }
   .create-video{
    width: 350px;
   }
}
// ========================================
//    Desktop - 1024px+
// ========================================
@media (max-width:1024px){
    .wrapper {
      width: 100%;
    }
    .create-main .create-video .video .current-video .current-clip .movie-title{
      width: 80px;
      font-size: 16px;
    }
    /*not getting updated*/
    .create-main .create-video .video .current-video .current-clip .select{
      width: 80%;
    }
    .cm-enlarge{
      width: 90% !important;
    }

}


// ========================================
//    portray Tablet and mobiles
// ========================================

@media  (max-width: 980px){
    .wrapper{
      width: 100%;
    }  
}

@media (max-width:800px)  {
  .wrapper {
    width: 100%;
  }
  .create-main .create-video{
    width: 250px;
   }
   .create-main .create-video .video .current-video #row1{
    height: 250px;
   }
   .create-main .create-video .video .current-video .current-clip{
    height: 65px;
   }
   .create-main .create-video .video .current-video .logo{
    width: 65px;
    height: 65px;
   }
   .create-main .create-video .video .current-video .current-clip .movie-title .title-icon{
    width: 40px;
    height: 40px;
    background-size: 60px;
   }
   .create-main .create-video .video .current-video .current-clip .movie-title{
      width: 65px;
      height: 65px;
    }
    .create-main .create-video .video .current-video .current-clip .movie-title h2 {
      /*margin-top: -12px;*/
    }
    .create-main .create-video .video .current-video .current-clip .map-options{
      width: 104px;
      /*height: 65px;*/
    }
    .create-main .create-video .video .current-video .current-clip .select{
      height: 20px;
      line-height: 20px;
      margin: 2px auto 0;
    }
    .create-main .create-video .video .current-video .current-clip .movie-info .head-margin{
      margin-top: 35px;
    }
    .create-main .create-video .video .current-video .current-clip .open-maps{
      top: 32px;
    }
    .create-main .create-video .video .current-video .current-clip .movie-info{
      top: 68px;
    }
    .create-main .create-video .video .current-video .current-clip .movie-search {
      top: 73px;
    }
    .create-main .create-map {
      width: 63.5%;
    }
    .create-main .create-video .video .current-video .current-clip .movie-info .movies-list {
      max-height:205px;
    }
}
// ========================================
//    portray Tablet - Between 768px 
// ========================================
@media (max-width:768px)  {
  .wrapper {
    width: 100%;
  }
  .create-main .create-video{
    width: 200px;
   }
   .create-main .create-video .video .current-video #row1{
    height: 200px;
   }
   .create-main .create-video .video .current-video .logo{
    width: 60px;
    height: 60px;
   }
   .create-main .create-video .video .current-video .current-clip{
    height: 60px;
   }
   .create-main .create-video .video .current-video .current-clip .movie-title .title-icon{
    width: 35px;
    height: 35px;
    background-size: 55px;
   }
   .create-main .create-video .video .current-video .current-clip .movie-title{
      width: 60px;
      height: 60px;
    }
    .create-main .create-video .video .current-video .current-clip .movie-title h2 {
      /*margin-top: -10px;*/
    }
    .create-main .create-video .video .current-video .current-clip .map-options{
      width: 70px;
      /*height: 60px;*/
    }
    .create-main .create-video .video .current-video .current-clip .select{
      height: 16px;
      line-height: 20px;
      margin: 4px auto 0;
    }
    .create-main .create-video .video .current-video .current-clip .movie-info .head-margin{
      margin-top: 35px;
    }
    .create-main .create-video .video .current-video .current-clip .open-maps{
      top: 32px;
    }
    .create-main .create-video .video .current-video .current-clip .movie-info{
      top: 63px;
    }
    .create-main .create-video .video .current-video .current-clip .movie-search {
      top: 68px;
    }
    .create-main .create-map {
      width: 63.5%;
    }
    .btmControl{
      padding: 2px 0px;
    }

    .create-main .create-video .video .current-video .current-clip .movie-info .heading4{
      margin-top: 5px;
    }
    .create-main .create-video .video .current-video .current-clip .movie-info .head-margin{
      margin-top: 35px;
    }
    .create-main .create-video .video .current-video .current-clip .movie-info .movies-list {
      max-height:165px;
    }
    /*.create-main .create-video .video .current-video .current-clip .movie-info .heading4{
      margin-top: 0px;
    }*/
}

// ========================================
//    portray Tablet - Between 640px 
// ========================================
@media (max-width:640px) {
  .wrapper {
    width: 100%;
  }
  .create-main .create-video{
    width: 170px;
   }
   .create-main .create-video .video .current-video #row1{
    height: 170px;
   }
   .create-main .create-video .video .current-video .logo{
    width: 40px;
    height: 40px;
   }
   .create-main .create-video .video .current-video .current-clip{
    height: 40px;
   }
   .create-main .create-video .video .current-video .current-clip .movie-title .title-icon{
      background-size: 35px auto;
      height: 24px;
      width: 24px;
   }
   .create-main .create-video .video .current-video .current-clip .movie-title{
      width: 40px;
      height: 40px;
    }
    .create-main .create-video .video .current-video .current-clip .movie-title h2 {
      font-size: 8px;
    }
    .create-main .create-video .video .current-video .current-clip .map-options{
      /*height: 40px;*/
      width: 80px;
    }
    .create-main .create-video .video .current-video .current-clip .select{
      height: 10px;
      line-height: 16px;
      margin: 2px auto 0;
    }
    .create-main .create-video .video .current-video .current-clip .select span{
      display: block;
      line-height: 10px;
    }
    .create-main .create-video .video .current-video .current-clip .movie-info{
      top:43px;
    }
    .create-main .create-video .video .current-video .current-clip .movie-search {
      top:46px;
      height: 10px;
      font-size: 12px;
      padding: 4px 0px 4px 30px;
      width: 100px;
    }
    .btmControl{
      
    }
    .create-main .create-video .video .current-video .current-clip .movie-info .heading4{
      margin-top: 5px;
    }
    .create-main .create-video .video .current-video .current-clip .movie-info .movies-list {
      width: 132px;
      right: 2px;
      top: 22px;
      font-size: 12px;
      max-height: 130px
    }
    .control div.media-btn {
        background-size: 15px auto !important;
        cursor: pointer;
        float: left;
        height: 15px;
        margin: 5px;
        width: 15px;
    }
    .create-main .create-video .video .current-video .current-clip .open-maps{
      width: 90px;
      top: 20px;
    }
    .create-main .create-video .video .current-video .current-clip .open-maps .list-map-names li{
      width: 90px;
      min-height: 22px;
    }
}

// ========================================
//    MOBILE
// ========================================

@media (max-width:480px) {
  .wrapper {
    width: 630px;   
  }
}


@media (max-width:320px) {
  .wrapper {
    width: 630px;
    
  }
}


/*@media (max-height:600px){
  .wrapper {
    width: 100%;
  }
  .create-main .create-video{
    width: 200px;
   }
   .create-main .create-video .video .current-video #row1{
    height: 200px;
   }
   .create-main .create-video .video .current-video .logo{
    width: 60px;
    height: 60px;
   }
   .create-main .create-video .video .current-video .current-clip{
    height: 60px;
   }
   .create-main .create-video .video .current-video .current-clip .movie-title .title-icon{
    width: 35px;
    height: 35px;
    background-size: 55px;
   }
   .create-main .create-video .video .current-video .current-clip .movie-title{
      width: 60px;
      height: 60px;
    }
    .create-main .create-video .video .current-video .current-clip .movie-title h2 {
      
    }
    .create-main .create-video .video .current-video .current-clip .map-options{
      width: 60px;
     
    }
    .create-main .create-video .video .current-video .current-clip .select{
      height: 10px;
      line-height: 16px;
      margin: 2px auto 0;
      font-size: 8px;
    }
    .create-main .create-video .video .current-video .current-clip .movie-info .head-margin{
      margin-top: 35px;
    }
    .create-main .create-video .video .current-video .current-clip .movie-info{
      top: 63px;
    }
    .create-main .create-video .video .current-video .current-clip .movie-search {
      top: 68px;
    }
    .create-main .create-map {
      width: 63.5%;
    }
    .btmControl{
      padding: 2px 0px;
    }
    .create-main .create-video .video .current-video .current-clip .movie-info .heading4{
      margin-top: 5px;
    }
    .create-main .create-video .video .current-video .current-clip .movie-info .movies-list {
      max-height:165px;
    }
}*/

@media (max-height:480px) {
 .wrapper {
    width: 100%;
  }
  .create-main .create-video{
    width: 170px;
   }
   .create-main .create-video .video .current-video #row1{
    height: 170px;
   }
   .create-main .create-video .video .current-video .logo{
    width: 40px;
    height: 40px;
   }
   .create-main .create-video .video .current-video .current-clip{
    height: 40px;
   }
   .create-main .create-video .video .current-video .current-clip .movie-title .title-icon{
      background-size: 35px auto;
      height: 24px;
      width: 24px;
   }
   .create-main .create-video .video .current-video .current-clip .movie-title{
      width: 40px;
      height: 40px;
    }
    .create-main .create-video .video .current-video .current-clip .movie-title h2 {
      font-size: 8px;
    }
    .create-main .create-video .video .current-video .current-clip .map-options{
      /*height: 40px;*/
      width: 80px;
    }
    .create-main .create-video .video .current-video .current-clip .select{
      height: 10px;
      line-height: 16px;
      margin: 2px auto 0;
    }
    .create-main .create-video .video .current-video .current-clip .select span{
      display: block;
      line-height: 10px;
    }
    .create-main .create-video .video .current-video .current-clip .movie-info .head-margin{
      margin-top: 20px;
    }
    .create-main .create-video .video .current-video .current-clip .movie-info{
      top:43px;
    }
    .create-main .create-video .video .current-video .current-clip .movie-search {
      top:46px;
      height: 10px;
      font-size: 12px;
      padding: 4px 0px 4px 30px;
      width: 100px;
    }
    .create-main .create-map {
      
    }
    .btmControl{
      
    }
    .create-main .create-video .video .current-video .current-clip .movie-info .heading4{
      
    }
    .create-main .create-video .video .current-video .current-clip .movie-info .movies-list {
      width: 132px;
      right: 2px;
      top: 22px;
      font-size: 12px;
      max-height: 130px;
    }
    .control div.media-btn {
        background-size: 15px auto !important;
        cursor: pointer;
        float: left;
        height: 15px;
        margin: 5px;
        width: 15px;
    }
    .create-main .create-video .video .current-video .current-clip .open-maps{
      width: 90px;
      top: 20px;
    }
    .create-main .create-video .video .current-video .current-clip .open-maps .list-map-names li{
      width: 90px;
      min-height: 22px;
    } 
}