@import 'fonts.less';
@import 'variables.less';
@import 'base.less';
/*@import 'mediaelementplayer.less';*/
@import 'mixins.less';
/*@import 'popup.less';*/
@import 'buttons.less';

.wrapper{
	margin: 0px auto;
	position: relative;
	width: 1024px;
}
.hide{
	display: none;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.clearfix{
	overflow: hidden;
	display: block;
}
ul{
	padding: 0px;
	margin: 0px;
	li{
		list-style-type: none;
		margin: 0px;
		padding: 0px
	}
}
.verticle-middle{
	display: inline-block;
	vertical-align: middle;
}
.verticle-top{
	display: inline-block;
	vertical-align: top;
}
.roundedinput(){
		background-color: @headerinputcolor;
	    border:1px solid @headerinputcolor;
	    border-radius: 20px;
	    height: 24px;
	    padding-left: 10px;
	    width: 130px;
	    margin-right: 10px;
	    color:@inputboxtextcolor;
}
.header-first-section{
	background-color: @headerbackground;
	overflow: hidden;
	padding: 10px 0px;
	input{
		.roundedinput();
	}
	input::-webkit-input-placeholder { /* WebKit browsers */
	    color:    @inputboxtextcolor;
	}
	input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	    color:    @inputboxtextcolor;
	    opacity:  1;
	}
	input::-moz-placeholder { /* Mozilla Firefox 19+ */
	    color:    @inputboxtextcolor;
	    opacity:  1;
	}
	input:-ms-input-placeholder { /* Internet Explorer 10+ */
	    color:    @inputboxtextcolor;
	}
	ul{
		li{
			display:inline-block;
			padding: 7px 30px 7px 0px;
			a{
				.header-section-font();		
				font-family: "Roboto";
			}
		}
	}
    label.header-section-font{
		margin-right: 20px;
	}
	.go{
		line-height: 30px;
		padding: 0px;
	}
	.sign-in-sec{
		margin: 7px 10px 7px;
		padding-right: 15px;
		display: inline-block;
		border-right: 1px solid @white;
	}
	.signup{
		color: @redbuttoncolor;
		text-decoration: underline;
	}
}
.header-section-font{
	color: @white;
    display: inline-block;
    font-family: 'HelveticaLTStd-Bold';
    font-size: 12px;
    line-height: 24px;
    vertical-align: middle;
}
.phone{
	background-image: url('../img/phone.png');
	background-repeat: no-repeat;
	height: 10px;
    padding: 0 6px 0px 10px;
    width: 15px;
}
.brandsection{
	min-height: 58px;
    padding: 26px 0 15px;
}
.globe{
	// margin-top: 10px;
	float: right;
	background-image: url('../img/globe.png');
	background-repeat: no-repeat;
	padding: 0 0 20px 20px;
	min-height: 20px;
	margin-top: 14px;
	cursor: pointer;
}

.languagechange{
	font-size: 18px;
	line-height: 20px;
	padding:0px 20px;
	background-image: url('../img/down-arrow.png');
	background-repeat: no-repeat;
	background-position: right 10px;
	a{
		color:@languagecolor;
	}
}

.navigator{
	.nav-backgruond{
		background-color:@navbackgroundcolor;
		min-height: 48px;
		// padding: 16px 10px; 
	}
	.main-nav-bar{
		display: block;
		float: left;
		li{
			float: left;
			border-right: 1px solid darken(@navbackgroundcolor,10%);
			a{
				font-size: 14px;
			    line-height: 48px;
			    padding: 14px 10px;
			    vertical-align: middle;
    			color:@navtextcolor;
    			&:hover{
    				background-color: @white;
    			}
  			}
  			&:hover{
  				a{
  					background-color: @white;
  				}
				.sub-menu{
					display: block;
				}
			}
			.sub-menu{
				position: absolute;
				display: none;
				z-index: 9999999;
				background-color:@white;
				width: 100%;
				left: 0px;
				top: 47px;
				ul{
					float: left;
					margin: 0px 20px;
				}
				li{
					float: none;
					border:none;
					a{
						line-height: 34px;
						padding: 5px 10px;
					}
				}
			}
		}
	}
	input{
		float: right;
		.roundedinput();
		margin: 10px 16px 10px;
		background-color: @white;
		border-color: @white;
		background-image: url("../img/search.png");
		background-repeat: no-repeat;
		background-position: center right 5px;
	}
}
.slider-background{
	padding-bottom: 15px;
	.btn-group{
		display: inline-block;
		vertical-align: top;
		width: 300px;
		margin-right: 20px;
		.side-btn-roup{
			display: block;
			// background-color: blue;
			#gradient>.vertical(#6a97db,#2b61b3);
			line-height: 30px;
    		padding: 16px 0;
    		text-align: center;
    		font-size: 24px;
    		&:hover{
    			#gradient>.vertical(#2b61b3,#6a97db);
    		}
		}
	}
	.slider{
		display: inline-block;
		vertical-align: top;
		margin-top: 10px;
	}
}
.grid-background{
	.grid{
		display: inline-block;
		vertical-align: top;
		width: 214px;
		margin-right: 23px;
		h3{
			font-size: 18px;
			line-height: 21px;
			margin-bottom: 20px;
		}
	}
	.main-grid{
		background-color: #E9E9E9;
	    font-size: 14px;
	    line-height: 30px;
	    padding: 38px 0 38px 14px;
	    width: 286px;
   		h3{
			text-align: center;
			font-size: 18px;
			line-height: 20px;
			margin-bottom: 30px;
		}
	}
	.grid-image-holder{
		background-color: @white;
		min-height: 271px;
		.big-img{
			width: 100%;
		}
	}
	.grid-images{
		display: inline-block;
		margin: 9% 0%;
		text-align: center;
		width: 49%;
	}
	.grid:last-child{
		margin-right: 0px;
	}
	.description{
		padding: 35px 10px;
		font-size: 16px;
		line-height: 23px;
	}
	.links{
		display: block;
		padding: 7px;
		font-size: 14px;
		line-height: 16px;
		color:#3b3b3b;
	}
	.first-link{
		margin-top:15px;
	}
	.award{
		padding: 5px 0px;
	}
}

.footer{
	background-color: #222222;
	color: #ffffff;
	.copyright{
		color:#adadad;
		font-size: 12px;
		line-height: 21px;
	}
}

.mini-slider-container:first-child{
	margin-right: 1%;
}
.mini-slider-container:nth-child(2){
	margin-left: 1%;
}

.mini-slider-container{
	width: 49%;
	background-color: @white;
	margin-top: 10px;
	margin-bottom: 20px;
	.bx-pager{
		display: none;
	}
	.bx-viewport{
		height: 100%;
		min-height: 200px;
	}

}

.slider-header{
	padding: 30px 10px 0px 20px;
	border-bottom: 1px solid #B7BECC;
	small{
		font-family:'HelveticaLTStd-Bold';
		font-size: 12px;
		line-height: 18px;
		color:#858585;
	}
}

.slide-content{
	font-family:'HelveticaLTStd-Bold';
	.amount{
		color:#bc3726;
	}
	.seperator{
		margin: 0px 5px;
	}
	a{
		color:#373737;
		&:hover{
			text-decoration: underline;
		}
	}
}

.sliderinner-container{
	padding: 35px 10px 0px;
}

.slide{
	text-align: center;
}
/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
  left: 10px;
  // background: url(../images/controls.png) no-repeat 0 -32px;
  background-image: url("../img/prev.png");
  background-repeat: no-repeat;
}

.bx-wrapper .bx-next {
  right: 10px;
  // background: url(../img/controls.png) no-repeat -43px -32px;
  background-image: url("../img/next.png");
  background-repeat: no-repeat;
}

.p-sub-content{
  .bx-wrapper .bx-prev {
    left: 0px;
    // background: url(../img/controls.png) no-repeat 0 -32px;
    background-image: url("../img/p-slider-prev.png");
    background-repeat: no-repeat;
  }

  .bx-wrapper .bx-next {
    right: -33px;
    // background: url(../img/controls.png) no-repeat -43px -32px;
    background-image: url("../img/p-slider-nex.png");
    background-repeat: no-repeat;
  }
  .bx-wrapper .bx-controls-direction a {
    height:48px;
    top:35%;
  }
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 200;
}
.offer-image{
	img{
		margin-top: 6%;
		margin-left: 35%;
	}
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

.bx-wrapper{
	position: relative;
}

.main-slider{
	position: relative;
	display: inline-block;
	width: 700px;
	height: 278px;
	background-color: #6294de;
	margin-top: 10px;
	.bx-pager-item{
		display: none;
	}
	.bx-viewport{
		height: 100%;
		min-height: 290px;
	}
}

.main-slider .slide{
	background-color: #6294de;
}

.regards-prod{
	background-color: #f44845;
	width: 70%;
	line-height: 28px;
	font-size: 14px;
	text-align: left;
	padding-left: 2%;
	color: #fff;
	font-family:'HelveticaLTStd-Bold';
}

.season-offer-name{
	font-family: 'Georgia';
	width: 26%;
	position: absolute;
	left: 10%;
	top: 24%;	
	span:nth-child(2){
		font-size: 48px;
		line-height: 26px;
		color:@white;
	}
	span:nth-child(3){
		font-family:'HelveticaLTStd-Bold';
		font-size: 14px;
		text-align: left;
	}
	span{
		width: 100%;
		display: inline-block;
		text-align: right;
		font-size: 20px;
		line-height: 20px;
	}
}

.offer-per{
	background-color: #2d2d2d;
	width: 85px;
	height: 85px;
	border-radius: 50px;
	display: inline-block;
	vertical-align: middle;
	font-family: 'Georgia';
	font-size: 48px;
	color: #ffffff;
	position: absolute;
	top: 45%;
	left: 32%;	
	line-height: 8px;
	.postion{
		position: relative;
		span:nth-child(2){
			bottom: 0;
		    color: #BC3726;
		    font-size: small;
		    left: 28px;
		    position: absolute;
		    top: 53px;		
		}
		span:nth-child(3){
			bottom: 0;
		    color: #FFFFFF;
		    font-size: 13px;
		    left: 52px;
		    position: absolute;		
		}
		span:nth-child(1){
			display: inline-block;
			line-height: 63px;		
		}
	}
}
.nav-btn { 
    position: relative;         
    margin-top:6px; 
    // border: 2px solid darken(@navbackgroundcolor,40%);
    // background-color:darken(@navbackgroundcolor,20%);
    border-radius: 2px; 
    height: 36px; 
    width:36px;  
    cursor: pointer;
    display: none;
}
#lines { 
    border-bottom: 17px double darken(@navbackgroundcolor,60%);
    border-top: 6px solid darken(@navbackgroundcolor,60%);    
    content:"";
    height: 5px; 
    // position: absolute; 
    left:5px;  
    top: 4px; 
    width:30px; 
    display: none;
}

@import 'header.less';
/*not getting updated*/
@import 'media-queries.less';