// Typography
// -------------------------

/*@bodyFontFamily:       'Abel-Regular', "Times New Roman", Times, serif;*/
@displayFontFamily:    "TheanoModernRegular",Didot,"Bodoni MT", "Century Schoolbook", "Niagara Solid", Utopia, Georgia, Times, "Times New Roman", serif;
@altFontFamily:        "Roboto", Helvetica;
@logoFontFamily:       "PennRegular", serif;


@baseFontSize:          14px;
@baseLineHeight:        20px;


// colors

@white:            #FFFFFF;
@black:            #000000;
@headerbackground: #2d2d2d;
@headerinputcolor: #4a4a4a;
@redbuttoncolor:   #f44845;
@languagecolor:    #443c3c;
@inputboxtextcolor:#8e8e8e;
@navbackgroundcolor:#d5d9e1;
@navtextcolor:      #2d2d2d;
@firstgridcolor:    #e9e9e9;
@bodycolor:        #f6f6f4;

@ash:              #b2b2b2;
@ash-light:        #dedede;
@ash-darker:       #4a4a4a;
@ash-dark:         #6a6a6a;

@sky-blue:         #009ac7;
@blue-light:       #005269;
@light-blue:       #e5f5f9;

@dark-coffee:      #454545;

@border-color:     #cc3300;
@btn-color:        #990000;
@bg-color:         #ff9966;
@bg-lighter:	   #ffcc99;
@btn-hovercolor:   #660000;
@text-color:       #003333;

@icon-backcolor:   #035654;
@movie-heading:    #1bddd3;


